@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@variant dark (&:where(.dark, .dark *));
body,
header,
nav,
main,
footer,
aside {
	transition:
		background-color 0.3s ease,
		color 0.3s ease,
		transform 0.3s ease;
}

body {
	@apply dark:bg-midnight-900 bg-salt-100 text-salt-text font-mono dark:text-gray-100;
}

html {
	scroll-behavior: smooth;
}

@theme {
	--color-midnight-500: #262635;
	--color-midnight-900: #171720;
	--color-midnight-text: #ffffff;
	--color-bee-500: #e8ef1b;
	--color-salt-100: #ffffff;
	--color-salt-400: #f3f6f9;
	--color-salt-600: #e4e8ec;
	--color-salt-text: #332451;
	--color-ash-100: #e6e8e5;
	--color-sun-500: #eaeac9;
}
